.container {
  display: flex;
  justify-content: center;
}

.child {
  background-color: rgb(233, 155, 10);
  height: 300px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid grey;
  box-shadow: 5px 10px;
}
h2 {
  color: rgb(221, 28, 28);
}
button {
  background-color: rgb(100, 205, 219);
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid black;
}
